body {
  font-family: "Lato", sans-serif;
  background-image: url(../images/vecteez.jpg);
  background-size: 1272px 646px;
  background-repeat: no-repeat;
  background-position: center center;
}
img {
  margin-bottom: -42px;
}
h1,
h3 {
  line-height: 35px;
}
h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  font-size: 20px;
}
h3::first-letter {
  text-transform: capitalize;
}

img {
  margin-top: -25px;
  margin-bottom: -10px;
  filter: opacity(80%);
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
small {
  text-align: right;
  margin: 0;
  margin-right: 46px;
  display: block;
}
h1 strong {
  font-size: 46px;
}
.weather-app-wrapper {
  max-width: 850px;
  margin: 40px auto;
}
.weather-app {
  height: 450px;
  border: 7px solid rgba(85, 129, 154, 0.4);
  border-radius: 55px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 30%);
  display: block;
  margin-bottom: 5px;
  padding: 30px 30px 20px 20px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(215, 224, 235) 97%
  );
}
.main {
  margin-top: 40px;
  background-image: url(../images/autumn.svg);
  background-position: 3% 90%;
  background-repeat: no-repeat;
  background-size: 550px 347px;
}

h1 .units {
  font-size: 25px;
  position: relative;
  top: -7px;
}
.today {
  font-size: 28px;
  margin-top: 34px;
  line-height: 57px;
  font-weight: 600;
  color: #2f2e41;
}
.updateTime {
  font-size: 11px;
  margin-top: -9px;
}
.dateAndLocation {
  font-size: 14px;
  margin-top: 57px;
  margin-left: 34px;
}
.city {
  margin-top: -5px;
}
